# ide config
.vscode
.idea
.project
.settings
.cproject
.autotools

# build fold
*/build
*/cmake-build-*
build
cmake-build-*

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# executables
*.exe
*.out
*.app

# temp file
*/temp
*/tmp
temp
tmp
